.wrapper {
    position: relative;
    margin-top: 100px;
    margin-left: 600px;
    width: 800px;
    height:700px;
    padding: 700px;
    padding-right: 150px;
    padding-bottom: -5%;
    border: 5px solid red;
    background-color: lightgray;
}

.container_1 {
    position: absolute;
    left:300px;
    top: 20px;
    width: 200px;
    height: auto;
    padding: 20px;
}

.col-md-12 {
    right: 10px;
}

.container_2 {
    position: absolute;
    left:20px;
    top: 150px;
    width:350px;
    height:350px;
}

.col-md-6_1 {
    margin-bottom: 30px;
}

.col-md-6_3 {
    margin-top:30px;
}

.container_3 {
    position: absolute;
    left:500px;
    top:150px;
    width:350px;
    height:350px;
}

.col-md-6_5 {
    margin-top:30px;

}

.footer {
    height: 62px;
    border-top: 6px solid red;
    margin-top: 3px;
    background-color:lightgray;
    padding-top: 14px;
    color:red;