.wrapper { 
    position: relative;
    top:100px;
    left:700px;
    width: 700px;
    height: auto;
    padding: 300px;
    border: 5px solid red;
    background-color: lightgray;
}

.container_1 {
    position: absolute;
    top:0;
    left:225px;
    width:200px;
    height:auto;
    padding:20px;
    
}

.container_2 {
    position: absolute;
    top: 125px;
    left:0;
    width: 400px;
    height: auto;
    padding: 20px;
    
}

.container_3 {
    position: absolute;
    top: 250px;
    left:0;
    width: 400px;
    height: auto;
    padding: 20px;
   
}

.container_4 {
    position: absolute;
    top: 375px;
    left:0;
    width: 400px;
    height: auto;
    padding: 20px;
}

.container_5 {
    position: absolute;
    top: 500px;
    left:0;
    width: 400px;
    height: auto;
    padding: 20px;
}

.footer {
    height: 62px;
    border-top: 6px solid red;
    margin-top: 3px;
    background-color:lightgray;
    padding-top: 14px;
    color:red;
}