.wrapper {
    position: relative;
    margin-top: 7%;
    margin-left:700px;
    width: 700px;
    height: auto;
    border: 3px solid red;
    padding: 250px;
    background-color: lightgray;
    
}

.container_1 {
    left:250px;
    top:20px;
    position: absolute;
    width: 200px;
    height:auto;
}

#col-md-12 {
    font-weight: bold;
}

.container_2 {
    left:20px;
    top:100px;
    width: 700px;
    height:auto;
    position: absolute;
    
}
.col-md-3 {
   margin-top: 5px; 
}

.col-md-8 {
    font-size: 16px;
}

.container_3 {
    position: absolute;
    width: 670px;
    left: 0;
    bottom:0;
    height:auto;
}

.col-md-12 {
    margin-left: 20px;
    padding-top: -40px;
}

.footer {
    height: 62px;
    border-top: 6px solid red;
    margin-top: 3px;
    background-color:lightgray;
    padding-top: 14px;
    color:red;
}